*{
    margin:0;
    padding: 0;
}
#first{
    background-image: url("../images/Firstsection_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    height: 550px;
}
.jumbotron_1{
    background-color: transparent;
}
.jumbotron_1 p{
    margin-top: 20px;
}
.jumbotron_1 h1,p{
    color: #fff;
}
.jumbotron_1 span{
    color: #ffff00;
}
.jumbotron_1 img{
    max-width: 20px;
    height: auto;
    margin-top: 13%;
}
.button_design {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.4444444;
    width: 15%;
    border-radius: 0px;
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    margin-top: 16px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  margin-top: 8px;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar-toggle {
    position: relative;
    float: none;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #fff;
    background-image: url("../images/toggle.png");
    border: 1px solid black;
    border-radius: 4px;
}
.navbar-nav>li>a {
    padding-top: 23px;
    padding-bottom: 15px;
    color: #fff;
    background-color: none;
}   





